<% content_for :top do %>
<%= "Rangers!" %>
<% end %>

<div class="col-xs-8">
<div class="post-preview">
  <h2 class="post-title">
    <%= @firstpost.title %>
  </h2>
  <h3 class="post-subtitle">
    <%= @firstpost.summary %>
  </h3>
</a>
<p class="post-meta">Posted by <a href="#"><%= @firstpost.author %></a> on <%= @firstpost.created_at.strftime('%B %d, %Y') %></p>
</div>
<hr/>
</div>
<div class="col-xs-4">
  <div class="aside"><%= image_tag('logo2.jpg', size: "40") %></img>
  <h5>Zack Taylor</h5>
    <ul class="list-inline">
    <li class="col-xs-4">Twitter</li>
    <li class="col-xs-4">Facebook</li>
    <li class="col-xs-4">Instagram</li>
  </ul>
</div>
  <div class ="aside_image"><%= image_tag('image2.jpg', size: "40x60") %></div>
    <p class="sub-heading">"Looks like it's time to go to work."</p>
  <p class="filler">Quick-witted and clever, Zack relies on a combination of skill, strength, and agility to win his battles. The original Black Ranger. Whenever he didn't have an arm around Trini or Kimberly, Zack could be found pursuing his attractive, but hard-to-get classmate, Angela. Zack always loved a good joke. </p>
</div>


<% content_for :bottom do %>

<h3 class="headline">MOST POPULAR POSTS</h3>
<div class="row">

  <div class="col-xs-3">
    <%= link_to image_tag('villian1.jpg'), post_path(:id => 1) %>
    <p class="image_text"><%= @posts[0].title %></p>
  </div>
  <div class="col-xs-3">
    <%= link_to image_tag('villian2.jpg'), post_path(:id => 2) %>
    <p class="image_text"><%= @posts[1].title %></p>
  </div>
  <div class="col-xs-3">
    <%= link_to image_tag('villian3.jpg'), post_path(:id => 3) %>
    <p class="image_text"><%= @posts[2].title  %></p>
  </div>
  <div class="col-xs-3">
    <%= link_to image_tag('villian4.jpg'), post_path(:id => 4) %>
    <p class="image_text"><%= @posts[3].title %></p>
  </div>
</div>

<% end %>
