<% content_for :top do %>
<%= @showpost.title %>
<% end %>

<div class="col-md-3 col-sm-3">
    <img class="img-thumbnail img-responsive photo"><%= image_tag(@showpost.image) %></img>

</div>
<div class="col-md-9 col-sm-9">
<div class="post-preview">
  <h2 class="post-title">
    <%= @showpost.title %>
  </h2>
  <h3 class="post-subtitle">
    <%= @showpost.summary %>
  </h3>
</a>
<p class="post-meta">Posted by <a><%= link_to @showpost.author, about_path %> on <%= @showpost.created_at.strftime('%B %d, %Y') %></a></p>
</div>
</div>
<hr/>
